@import "../../app/globals.scss";

.header-main {
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -2;
        background-image: url("/header_bg.jpg");
    }
    &:before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        opacity: 0.2;
        background: black;
    }
    position: relative;
    z-index: 1;
    font-family: $global-font;
    color: white;
    padding: 3vh 2vw;
    h1 {
        text-transform: uppercase;
        font-size: 29px;
    }
    P {
        font-size: 19px;
    }
}
