.ct-parent {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    h1 {
        font-size: 18px;
        font-weight: bold;
        color: #606060;
        text-decoration: underline;
    }
    p {
        font-size: 12px;
        color: #2a2a2a;
    }

    a {
        color: #2a2a2a;
        font-weight: bold;
        font-size: 11px;
    }
    a:hover {
        text-decoration: underline;
    }
    img {
        padding: 3px;
        border: 1px solid black;
    }
}
