@import "../src/app/globals.scss";

.Hero-container {
    display: flex;
    padding: 2vh 1vw;
    justify-content: space-between;
    align-items: flex-start;
    font-family: $global-font;
    width: 100%;
}

.side-panel-parent {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 12vw;
}
.side-panel-container1 {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    h1 {
        font-size: 18px;
        font-weight: bold;
    }
}
.side-panel-list {
    padding-left: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    li {
        display: flex;
        align-items: center;
        border: 1px solid #b0b0b0;
        background: #e8e9ea;
        a {
            padding: 5px 4px 4px 10px;
            color: #606060;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 10px;
        }
    }
}
.btmImage {
    padding: 5px;
    border: 1px solid black;
}

.side-panel-container2 {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    h2 {
        text-transform: capitalize;
        font-family: $global-font;
        font-weight: bold;
    }
    p {
        font-size: 10px;
    }
}

//sideFooter
.sf-parent {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 2vh;
    width: 13vw;
}

.sf-head {
    .sf-head-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h2 {
        padding-top: 2vh;
        font-family: $global-font;
        font-weight: bold;
        text-transform: capitalize;
        font-size: 18px;
        color: #505050;
    }
    div {
        padding-top: 1vh;
        padding-left: 1vw;
        font-size: 10px;
        color: #303030;

        h3 {
            font-weight: bold;
        }
    }
}

.sf-sm {
    h2 {
        color: #505050;
        font-weight: bold;
        font-size: 18px;
        text-transform: capitalize;
    }
    div {
        display: flex;
        padding-top: 1vh;
        padding-bottom: 2vh;
        gap: 0.5vw;
    }
    a {
        display: flex;
        justify-content: center;
    }
}

.sf-links {
    h2 {
        color: #505050;
        font-weight: bold;
        font-size: 18px;
        text-transform: capitalize;
    }

    div {
        padding-top: 1vh;
        padding-left: 1vw;
        display: flex;
        flex-direction: column;
        gap: 0.5vh;
    }
    div a {
        font-size: 11px;
        color: #303030;
        font-weight: bold;
    }
}

//center section

.hero-center {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    margin: 1vw;
}
